
/* BASE STYLES */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 100%;
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
}

.main-wrapper{
  display: flex;
  width: 90%;
  max-width: 1104px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}


fieldset{
  border: none;
}

.input{
  display: block;
  width: 400px;
  height: 40px;
  margin: 30px auto;
  padding: 0 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.submit-btn{
  display: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*should implement something to dynamically calculate gutter width*/
  grid-template-rows: repeat(3,1fr);
  grid-gap: 80px;
  justify-content: start;
  list-style: none;
  padding: 0;
}

li{
  justify-self: center;
}
